/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.venv/
venv/

# Docker
docker-compose.override.yml
*.log

# Flask
flask-classifier/__pycache__/
flask-classifier/*.py[cod]
flask-classifier/*env*/
flask-classifier/*.h5
flask-classifier/*.pt
flask-classifier/logs/
